@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #333;  /* Light text color */
  --background: #f5f5f5;  /* Light background */
  --font-josefin-sans: 'Josefin Sans', sans-serif;
}

/* Dark mode preferences */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f5f5f5;  /* Light text color for dark mode */
    --background: #333;  /* Dark background */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-josefin-sans);  /* Use only Josefin Sans font */
}
